<h1>Dictonary!</h1>

<div>
    <label>Word: </label>
    <input [(ngModel)]="word" required="Inform the search term" />
    <button (click)="searchWord()">Search</button>
</div>

<div>
    <div class="card" *ngFor="let meaning of meanings">
        <p class="card-title">{{meaning.partOfSpeech}}</p>
        <ul>
            <li *ngFor="let definition of meaning.definitions">
                {{definition.definition}}
                <p *ngIf="definition.example" style="font-style: italic; margin: 0 0 2px 12px">Ex: {{definition.example}}</p>
            </li>
        </ul>
    </div>
</div>

<ng-template #mydialog style="display: none">
    <h1>This is a message</h1>
    
</ng-template>

<dialog #dialog id="dialog" style="width: 200px; border: solid 1px #444; border-radius: 5px;">
    <h2 style="margin-top: 0;">Error</h2>
    <p>Term not found</p>
    <button (click)="dialog.close()">OK</button>
</dialog>
